* {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.container {
    background-color: beige;
    width: 700px;
    height: 700px;
}

.grid-row {
    display: flex;
}

.grid-box {
    width: 20px;
    height: 20px;;
}